<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531161512470-oeon26nn6u3u31v8t4tirlf3uk6mnvoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531161512470-oeon26nn6u3u31v8t4tirlf3uk6mnvoj</string>
	<key>API_KEY</key>
	<string>AIzaSyBmiWdDFaVfI10XMQwWfYwEGFuwoqRcOFM</string>
	<key>GCM_SENDER_ID</key>
	<string>531161512470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.umn.d.hci.social</string>
	<key>PROJECT_ID</key>
	<string>social-cee04</string>
	<key>STORAGE_BUCKET</key>
	<string>social-cee04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531161512470:ios:09c4273193af8210679337</string>
</dict>
</plist>