<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575182751252-0eb01o7vccqsfhf5p289lcrii82d18op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575182751252-0eb01o7vccqsfhf5p289lcrii82d18op</string>
	<key>API_KEY</key>
	<string>AIzaSyAT-kBkh7srS4v-_GK8t8dGR6kku87wHKM</string>
	<key>GCM_SENDER_ID</key>
	<string>575182751252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.umn.d.hci.phamilyhealth</string>
	<key>PROJECT_ID</key>
	<string>social-87b54</string>
	<key>STORAGE_BUCKET</key>
	<string>social-87b54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575182751252:ios:eed77512d7640d7c41c901</string>
</dict>
</plist>